
    @model Premiere.Models.FileModel
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Premiere Group</title>
</head>

<body>
<div id="myCarousel" class="carousel slide" style="height:500px">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
              <img class="center-block" src="../../Images/background.gif" alt="background" width="1197" height="620">
            @*<div class="fill" style="background-image:url(../../Images/background.gif);   display:block; margin-left:auto"></div>*@

        </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left aria-hidden="true"></span>
        <span class="sr-only"><</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">></span>
    </a>
           </div>
    @if (Request.IsAuthenticated)
    {
        Html.RenderPartial("Home_sidebar");
    }

        <div class="section">


    </div><!-- /.section -->
  
        

      @*<div class="container">

      
              @if (request.isauthenticated)
                {
                    <h2><strong>@html.actionlink("注册", "register", "account", null, null)</strong> </h2>
                }
                else
                {
              }
              

      </div> /.container*@ 


       



   
    <script type="text/javascript">
                
    </script>
    <link href="@Url.Content("~/Content/modern-business.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/font-awesome.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/sb-admin-2.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/metisMenu/metisMenu.min.js")"></script>
    <link href="@Url.Content("~/Content/font-awesome.css")" rel="stylesheet" />
    @*<script src="@Url.Content("../../Scripts/jquery-1.8.2.js")" type="text/javascript"></script>*@
    @*<script src="@Url.Content("../../Scripts/bootstrap.js")" type="text/javascript"></script>*@
   @* <script src="@Url.Content("../../Scripts/jquery-1.8.2-vsdoc.js")" type="text/javascript"></script>*@
   @* <script src="@Url.Content("~/Scripts/modern-business.js")" type="text/javascript"></script>*@

</body>
</html>
