
    @model Premiere.Models.FileModel
    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>

<div id="myCarousel" class="carousel slide" style="height:200px">
      <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="fill" style="background-image:url(../../Images/demo_chart.gif);"></div>
            <div class="carousel-caption">
              <h1>品牌曝光度分析</h1>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
            <div class="carousel-caption">
              <h1>Ready to Style &amp; Add Content</h1>
            </div>
          </div>
          <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
            <div class="carousel-caption">
              <h1>Additional Layout Options at <a href="http://startbootstrap.com">http://startbootstrap.com</a></h1>
            </div>
          </div>
        </div>
           </div>
    @if (Request.IsAuthenticated)
    {
        Html.RenderPartial("Home_sidebar");
    }

        <div class="section">

      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <h3><i class="icon-ok-circle"></i> 品牌曝光度分析</h3>
            <p>基于品牌在各大媒体和网络平台的数据曝光度分析，数据</p>
          </div>
          <div class="col-lg-4 col-md-4">
            <h3><i class="icon-pencil"></i> 品牌传播分析</h3>
            <p>Your ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at <a href="http://bootswatch.com">Bootswatch</a>, or come up with your own using <a href="http://getbootstrap.com/customize/">the Bootstrap customizer</a>!</p>
          </div>
          <div class="col-lg-4 col-md-4">
            <h3><i class="icon-folder-open-alt"></i> 品牌关注度分析</h3>
            <p>This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->

        <div class="section-colored text-center">

      <div class="container">

        <div class="row">
          <div class="col-lg-12">
            <h2><strong>@Html.ActionLink("登录","Login","Account",null,null)</strong><span>  </span> @Html.ActionLink("注册","Register","Account",null,null)</h2>
              
            <p>如果需要查看详细数据请登陆帐户或进行注册，管理员用户可以在后台进行数据导入操作。</p>
            <hr>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section-colored -->

        <div class="section">

      <div class="container">

      

      </div><!-- /.container -->

    </div><!-- /.section -->

        <div class="section-colored">

    <div class="container">

    <!-- /.row -->

    </div><!-- /.container -->

</div><!-- /.section-colored -->


   
    <script type="text/javascript">
                
    </script>
    <script src="@Url.Content("~/Scripts/sb-admin-2.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/metisMenu/metisMenu.min.js")"></script>
    @*<script src="@Url.Content("../../Scripts/jquery-1.8.2.js")" type="text/javascript"></script>*@
    @*<script src="@Url.Content("../../Scripts/bootstrap.js")" type="text/javascript"></script>*@
   @* <script src="@Url.Content("../../Scripts/jquery-1.8.2-vsdoc.js")" type="text/javascript"></script>*@
   @* <script src="@Url.Content("~/Scripts/modern-business.js")" type="text/javascript"></script>*@

</body>
</html>
