<!DOCTYPE html>
<html lang="en">

@using Premiere.Helper
    @{
    Layout = null;
    
}
@if (ViewBag.Title == null)
{
    ViewBag.Title = "品牌曝光度分析-每日数据导入";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Premiere Group Data Importing Page</title>
    @*<!-- Bootstrap Core CSS -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="@Url.Content("~/Content/sb-admin-2.css")" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="@Url.Content("~/Content/plugins/metisMenu/metisMenu.min.css")" rel="stylesheet" />*@

</head>
<body>

    <div id="wrapper">

        <!-- Navigation -->
        @{Html.RenderPartial("Admin_partial", null);}
        @{Html.RenderPartial("Admin_sidebar", null);}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
               
                <div class="col-lg-12">
    <h1 class="page-header">@ViewBag.Title
      

    </h1>


     <!-- The file upload form used as target for the file upload widget -->
                <form id="fileupload" action="Service/UploadHandler" method="POST" enctype="multipart/form-data">
                    <!-- Redirect browsers with JavaScript disabled to the origin page -->
                    <noscript><input type="hidden" name="redirect" value="/"></noscript>
                    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                    <div class="row fileupload-buttonbar">
                        <div class="span7">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-success fileinput-button">
                                <i class="icon-plus icon-white"></i>
                                <span>Add files...</span>
                                <input type="file" name="files[]" multiple>
                            </span>
                            <button type="submit" class="btn btn-primary start">
                                <i class="icon-upload icon-white"></i>
                                <span>Start upload</span>
                            </button>
                            <button type="reset" class="btn btn-warning cancel">
                                <i class="icon-ban-circle icon-white"></i>
                                <span>Cancel upload</span>
                            </button>
                            <button type="button" class="btn btn-danger delete">
                                <i class="icon-trash icon-white"></i>
                                <span>Delete</span>
                            </button>
                            <input type="checkbox" class="toggle">
                            <!-- The loading indicator is shown during file processing -->
                            <span class="fileupload-loading"></span>
                        </div>
                       
                        <!-- The global progress information -->
                        <div class="span5 fileupload-progress fade">
                            <!-- The global progress bar -->
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    60%
                                </div>
                            </div>
                            @*<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <div class="bar" style="width:0%;"></div>
                            </div>*@
                            <!-- The extended global progress information -->
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                    </div>
                    <!-- The table listing the files available for upload/download -->
                    <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
                </form>
                    </div>
                </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">提示： </h3>
                </div>
                <div class="panel-body">
                    <ul>
                        <li>你可以从电脑中 <strong>拖拽</strong> 数据文件到此处或点击 <strong>Add files...</strong> 按钮添加</li>
                        <li>文件可以批量上传，但请注意选择正确的图表，否则正确的数据将会被<strong>覆盖</strong></li>
                        <li>目前只充许上传(<strong>JSON, TXT, XML </strong>) 这三种数据格式的数据文件，请注意确认.</li>
                        <li>服务器上只留存<strong>最后一次</strong>上传的数据，如果重复上传当月或当日数据，上一次的数据将会被覆盖</li>
                        <li>如果数据格式出现<strong>错误</strong>，或数据上传<strong>失败</strong>，你会看到 <span class="label label-danger">Error</span> 的标识, 请联系数据提供方进行相应的操作以纠正</li>
                    </ul>
                </div>
            </div>
                <!-- The template to display files available for upload -->
                <script id="template-upload" type="text/x-tmpl">
                {% for (var i=0, file; file=o.files[i]; i++) { %}
                    <tr class="template-upload fade">
                        <td>
                            <span class="preview"></span>
                        </td>
                        <td>
                            <p class="name">{%=file.name%}</p>
                            {% if (file.error) { %}
                                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                            {% } %}
                        </td>
                        <td>
                            <p class="size">{%=o.formatFileSize(file.size)%}</p>
                            {% if (!o.files.error) { %}
                                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
                            {% } %}
                        </td>
                        <td>
                            {% if (!o.files.error && !i && !o.options.autoUpload) { %}
                                <button class="btn btn-primary start">
                                    <i class="icon-upload icon-white"></i>
                                    <span>Start</span>
                                </button>
                            {% } %}
                            {% if (!i) { %}
                                <button class="btn btn-warning cancel">
                                    <i class="icon-ban-circle icon-white"></i>
                                    <span>Cancel</span>
                                </button>
                            {% } %}
                        </td>
                    </tr>
                {% } %}
                </script>

                <!-- The template to display files available for download -->
                <script id="template-download" type="text/x-tmpl">
                {% for (var i=0, file; file=o.files[i]; i++) { %}
                    <tr class="template-download fade" >
                        <td>
                            <span class="preview">
                                {% if (file.thumbnail_url) { %}
                                    <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
                                {% } %}
                            </span>
                        </td>
                        <td>
                            <p class="name">
                                <a href="{%=file.url%}" title="{%=file.name%}" data-gallery="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
                            </p>
                            {% if (file.error) { %}
                                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                            {% } %}
                        </td>
                        <td>
                            <span class="size">{%=o.formatFileSize(file.size)%}</span>
                        </td>
                        <td>
                            <button class="btn btn-danger delete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"{% if (file.delete_with_credentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                                <i class="icon-trash icon-white"></i>
                                <span>Delete</span>
                            </button>
                            <input type="checkbox" name="delete" value="1" class="toggle">
                        </td>
                    </tr>
                {% } %}
</script> 
                    


                </div>
            <!-- /.row -->
            </div>
        <!-- /#page-wrapper -->

    <!-- /#wrapper -->
        

    <script type="text/javascript">
    </script>
  @*<script src="@Url.Content("~/Scripts/sb-admin-2.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/metisMenu/metisMenu.min.js")"></script>*@

</body>

</html>

