<!DOCTYPE html>
<html lang="en">

@using LeduInfo.HTMLHelper
    @{
    ViewBag.Title = "Index";
    Layout = null;
    
}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Premiere Group Data Importing Page</title>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.fileupload.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.iframe-transport.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrapValidator.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/bootstrap-image-gallery.min.js")"></script>
    <link href="@Url.Content("~/Content/bootstrap-image-gallery.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery.fileupload-ui.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/tmpl.min.js")"></script>
    <script src="@Url.Content("~/Scripts/canvas-to-blob.min.js")"></script>
    <script src="@Url.Content("~/Scripts/load-image.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-image-gallery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.fileupload-ip.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.fileupload-ui.js")"></script>
    <script src="@Url.Content("~/Scripts/locale.js")"></script>
    <script src="@Url.Content("~/Scripts/main.js")"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div id="wrapper">

        <!-- Navigation -->
        @{Html.RenderPartial("Admin_partial", null);}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
               
                <div class="col-lg-12">
    <h1 class="page-header">Chart Data</h1>
    <form id="fileupload" action="Services/UploadHandler.ashx" method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
            </div>
            <div class="span5">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active fade">
                    <div class="bar" style="width:0%;"></div>
                </div>
            </div>
        </div>
        <!-- The loading indicator is shown during image processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>

    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
    @for (var i = 0;  o.files[i]; i++)
    {

        <tr class="template-upload fade">
            <td class="preview"><span class="fade"></span></td>
            <td class="name"><span>@file.name </span></td>
            <td class="size"><span>@o.formatFileSize(file.size)</span></td>
            if (file.error)
            {
            <td class="error" colspan="2"><span class="label label-important">{@locale.fileupload.error</span> @locale.fileupload.errors[file.error] || file.error</td>
            }
            else if (o.files.valid && !i)
            {


            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">
                @if (!o.options.autoUpload)
                {
                    <button class="btn btn-primary">
                        <i class="icon-upload icon-white"></i>
                        <span>{%=locale.fileupload.start%}</span>
                    </button>
                }
            </td>

            }
            else
            {
            <td colspan="2"></td>

            }

            <td class="cancel">
                @if (!i)
                {
                    <button class="btn btn-warning">
                        <i class="icon-ban-circle icon-white"></i>
                        <span>{%=locale.fileupload.cancel%}</span>
                    </button>

                }
            </td>
        </tr>
    }

    </script>
            </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
        

    </script>
        <script type="text/javascript">
            $(function () {
                $('#fileupload').fileupload({
                    dataType: 'json',
                    add: function (e, data) {
                        data.context = $('<p/>').text('Uploading...').appendTo(document.body);
                        data.submit();
                    },
                    done: function (e, data) {
                        data.context.text('Upload finished.');
                    }
                });
            });
            </script>

</body>

</html>

