@using Premiere.Helper
@using System.Text
@using Newtonsoft.Json.Linq

@model  IEnumerable<Premiere.Models.BrandFocus>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Premiere Group</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    @*[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]*@
</head>
<body>

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    
                    <li class="active">
                        @Html.IconActionLink("Charts", "图表导航", null, "fa fa-bar-chart-o fa-fw", true, null)
                        @*<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>*@
                        <ul class="nav nav-second-level">
                            <li>

                                @Html.IconActionLink("index", "品牌曝光度分析", null, "glyphicon glyphicon-triangle-right", new { @title = "品牌曝光度分析",@id="mutiple_level" })
                                <ul class="nav nav-third-level">
                                    <li>
                                        @Html.ActionLink("-->每日数据分析", "BrandExposure_line", new { @title = "品牌曝光度分析-每日数据导入" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("-->每月数据分析", "BrandExposure_bubble", new { @title = "品牌曝光度分析-每月数据导入" }, null)
                                    </li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("品牌传播图谱", "BrandExposure_map", new { @title = "品牌传播图谱" }, null)
                            </li>
                            <li>
                                @Html.ActionLink("品牌形象分析图", "BrandImage", new { @title = "品牌形象分析图" }, null)
                            </li>
                            <li>
                                @Html.ActionLink("设计感与功能性分析图", "DesignSense", new { @title = "设计感与功能性分析图" }, null)
                            </li>
                            <li>
                                @Html.ActionLink("男女比例分析图", "SexRatio", new { @title = "男女比例分析图" }, null)
                            </li>
                            <li>
                                @Html.ActionLink("品牌关注点分析图", "BrandFocus", new { @title = "品牌关注点分析图" }, null)
                            </li>
                            <li>
                                @Html.ActionLink("媒体关注度分析图谱", "GraphicData", new { @title = "媒体关注度分析图谱" }, null)
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                   
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>@ViewBag.Title</h3>
                       
                       <br />
                        <p>以下品牌是已成功导入数据库的品牌数据: </p>
                       

                        <div class="row">
                            
                             
                            <div class="col-md-2">
                                <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-expanded="true">
                                品牌选取
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuDivider">
                               <li>
                                    <div class="panel panel-default">
                                      <!-- Default panel contents -->
                                      <div class="panel-heading">当前可选品牌：</div>
                                      <div class="panel-body">
                                      </div>

                                      <!-- Table -->
                                      <table class="table">
                                        <tbody>
                                            @{
                                                 var i = 0;
                                            }
                                            @foreach (var item in Model)
                                            {
                                               
                                                
                                                i++;
                                                if (i <=9)
                                                {
                                                    <td><button class="label label-success" id="@item.ID">@item.BrandName</button></td>
                                                    
                                                }
                                                else if (i>9)
                                                {
                                                    <tr></tr>
                                                    i = 0;
                                                } 
                                               
                                                 
                                            }

                                            
                                        </tbody>
                                      </table>
                                    </div>
                                 
                                    
                              </li>
                                <li role="presentation" class="divider"></li>
                                

                                <li role="presentation"><button class="btn-block" id="btn_clean">清除比较数据</button></li>
                            </ul>
                        </div>
                            </div>
                            <div class="co-md-2">
                                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">菜单收放</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="container" style="min-width: 410px; height: 400px; margin: 0 auto">
            


        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>


<!-- Bootstrap Core CSS -->
<link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/chart-metismenu.css")" rel="stylesheet" />
<link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" />
<!-- Custom CSS -->
<link href="@Url.Content("~/Content/simple-sidebar.css")" rel="stylesheet" />
<!-- MetisMenu CSS -->
<link href="@Url.Content("~/Content/plugins/metisMenu/metisMenu.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/plugins/metisMenu/metisMenu.min.js")"></script>
<script>
    $('#side-menu').metisMenu();
</script>

    <!-- HightChart -->
    <script src="@Url.Content("~/Scripts/HighChart/modules/exporting.js")"></script>
    <script src="@Url.Content("~/Scripts/HighChart/highcharts.js")"></script>
    <script src="@Url.Content("~/Scripts/HighChart/highcharts-more.js")"></script>


    <!-- Menu Toggle Script -->
    <script>

    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    $(function () {

        $('#container').highcharts({

            chart: {
                polar: true,
                type: 'line'
            },

            title: {
                text: '品牌形象分析图',
                x: -80
            },

            pane: {
                size: '80%'
            },

            xAxis: {
                categories: ["材质", "风格", "相关物品"],
                tickmarkPlacement: 'on',
                lineWidth: 0
            },

            yAxis: {
                gridLineInterpolation: 'polygon',
                lineWidth: 0,
                min: 0
            },

            tooltip: {
                shared: true,
                pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
            },

            legend: {
                align: 'right',
                verticalAlign: 'top',
                y: 70,
                layout: 'vertical'
            },

            series: []

        });
    });
    $(document).ready(function () {
        @foreach (var item in Model)
        {
            JObject obj = JObject.Parse(item.Series);
            StringBuilder sb = new StringBuilder();
            obj.ToString(Newtonsoft.Json.Formatting.None);
            //var data = obj.Children().Value<Array>();
            //List<string> data = obj["data"].Select(m=>(string)m).ToList();
            IEnumerable<double> data = obj["data"].Values<double>().ToArray();
            //data1 = obj["data"].Values<string>().ToArray();
            //string data2 = string.Join(",", data1);
            foreach (var item1 in data)
            {
                sb.Append(item1);
                sb.Append(",");
            }

            string name = obj["name"].Value<string>();    
           <text>

             $("#@item.ID").click(function () {
                 var chart = $('#container').highcharts();
                 if (chart.series.length < 4) {
                     chart.addSeries(
                         {

                             data: [@sb],
                             name: "@name",
                             "pointPlacement":"on"
                          }
                    );
                  }
              });

             $("#btn_clean").click(function () {
                 var chart = $('#container').highcharts();
                 if (chart.series.length) {
                     chart.series[0].remove();
                 }
             });


             //get data from server, but will be retired
             @* function getData() {
            $.get("@Url.Action("ReturnJson","Charts",new {@ID = @item.ID})", function (data, status) {
                return @obj;
            });

        }*@


             </text>
	}
         });
    </script>
</body>
</html>
