
<link href="@Url.Content("~/Content/simple-sidebar.css")" rel="stylesheet" />

<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
               @Html.ActionLink("Premiere Group", "Index", "Home");

            </li>
            @Html.ActionLink("品牌曝光度分析","BrandExposuer_line","Charts",null,null)
                <ul>
            <li>
        @Html.ActionLink("品牌曝光度分析-曲线图", "BrandExposure_line", "Charts", null, null)
    </li>
    <li>
        @Html.ActionLink("品牌曝光度分析-气泡图", "BrandExposure_bubble", "Charts", null, null)
    </li>
                </ul>
            
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>品牌曝光度分析 - 气泡图</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">收回菜单</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <!-- /#page-content-wrapper -->
</div>