@model Premiere.Models.LoginModel



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  >

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Login </h4>
            </div>
            <div class="container">
                <div class="modal-body" id="signinForm">


                    @using (Ajax.BeginForm("Login", "Account", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "signinForm" }))
                    {
                        @*//Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "signinForm" });*@

                        @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
                        <div id="errorresult"></div>
                        <div class="control-group">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" for="inputEmail">User Name</label>
                                        <div class="controls">

                                            @Html.TextBoxFor(m => m.UserName, new { @name = "inputUser", @class = "form-control", @id = "inputUser", @placeholder = "User Name",  })
                                            @Html.ValidationMessageFor(m => m.UserName)
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="control-group">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" for="inputPassword">Password</label>
                                        <div class="controls">
                                            @Html.TextBoxFor(m => m.Password, new { @name = "inputPassword", @class = "form-control", @id = "inputPassword", @placeholder = "Password", @type = "password" })
                                            @Html.ValidationMessageFor(m => m.Password)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="controls">
                            <label class="checkbox">
                                Remember me  @Html.CheckBoxFor(m => m.RememberMe, new { @id = "rememberMe", @class = "col-md-1" })
                                <br />
                                @Html.ActionLink("Register", "Register", "Account")
                            </label>
                        </div>
                        <button type="submit" id="submit_btn" class="btn btn-primary">Sign In</button>
                    }


                </div>
            </div>


        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script type="text/javascript">

    $('#submit_btn').click(function (event) {
        //event.preventDefault();

        var targetForm = $('#targetForm').serialize();
       var newtargetForm= targetForm.replace(/&/g, "?");
        $.post("@Url.Action("AjaxLogin", "Account")?"+ newtargetForm, {
            userName: $('#targetForm #inputUser').val(),
            passWord: $('#targetForm #inputPassword').val(),
            rememberMe:$('#targetForm #rememberMe').is(':checked')
        }, function (data, textStatus, xhr) {
            /*optional stuff to do after success */
            console.log(textStatus);
        })

    })
   
</script>

